* {
    margin: 0px;
    padding: 0px;
}

body,html {
    font-size: 12px;
}

.blue
{
    background-color: #3199e8 !important;
}

body .scrollContent {
    margin: 0px;
    padding: 0px;
}

.itemRow {
    height: 6rem;
    width: 100%;
    text-align: center;
}

.itemRow button
{
    display: inline-flex;
    flex-wrap: nowrap;
    width: 25%;
    padding: 0px;
}

.itemRow button img {
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 50%;

}

.itemRow button span {
    position: relative;
    display: block;
    font-size: 0.8rem;
    margin-top: -1rem;
    text-align: center;
}


.itemIcon {
    border-radius: 50%;
}
