<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>电影购票</title>
    <link href="./css/ionicons.min.css" rel="stylesheet">
    <link href="./css/ionic.css" rel="stylesheet">
    <link href="./css/mycss.css" rel="stylesheet">
    <script src="./js/ionic.bundle.js"></script>
    <script src="./js/app.js"></script>
</head>
<body ng-controller="appCtrl">
<ion-slide-box  show-pager="false" active-slide="myActiveSlide">
    <ion-slide>
        <ion-header-bar align-title="center" class="bar-positive">
            <div class="buttons">
                <button class="button ion-person button-icon" ng-click=""></button>
            </div>
            <h1 class="title">嵊州市MAX影院</h1>

            <div class="buttons">
                <button class="button button-icon ion-search"></button>
            </div>
        </ion-header-bar>
        <ion-content class="scrollContent">
            <section>
                <h1 class="name">嵊州市MAX影院</h1><br/>
                <span class="address">嵊州市鹿山路6号鹿山广场6楼嵊州市鹿山 <br/><a>电话： 0575-83330666</a></span>
            </section>
            <section class="movie-list">
                <ul>
                    <li>
                        <img src="./image/2.jpg">
                    </li>
                    <li>
                        <img src="./image/1.jpg">
                    </li>
                    <li>
                        <img src="./image/4.jpg">
                    </li>
                    <li>
                        <img src="./image/3.jpg">
                    </li>
                    <li>
                        <img src="./image/2.jpg" class="select">
                    </li>
                    <li>
                        <img src="./image/1.jpg">
                    </li>
                </ul>
            </section>
            <div class="info">
                <span class="movie-name">魔兽</span><span class="movie-attr">3D MAX</span><span
                    class="movie-value">9.2分</span>
            </div>
            <div class="day">
                <span>今天6月17日</span>
                <span>明天6月17日</span>
                <span>后天6月17日</span>
            </div>
            <div class="itemRow">
                <ion-col ng-repeat="item in items">
                    <section class="plan-details">
                        <div class="time"><span
                                class="begintime">{{item.begintime}}</span><br><span>{{item.endtime}}</span></div>
                        <div class="atrr-info"><span class="room">{{item.room}}</span><br><span>{{item.attr}}</span>
                        </div>
                        <div class="price"><span>{{item.price|currency}}</span></div>
                        <div class="buy">
                            <button class="button  ">选座订票</button>
                        </div>
                    </section>
                </ion-col>
            </div>
        </ion-content>
    </ion-slide>
    <ion-slide>
        <ion-header-bar align-title="center" class="bar-positive">
            <div class="buttons">
                <button class="button ion-ios-arrow-left button-icon" ng-click=""></button>
            </div>
            <h1 class="title">嵊州市MAX影院</h1>

            <div class="buttons">
                <button class="button button-icon"></button>
            </div>
        </ion-header-bar>
        <ion-content class="scrollContent selectSeat">
            <section class="">
                hello
            </section>
        </ion-content>
    </ion-slide>
</ion-slide-box>
</body>
</html>